factory/pipeline/C2P.json
{
	"name": "C2P",
	"properties": {
		"activities": [
			{
				"name": "Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT tm.*\nFROM meta_data.table_meta tm\nJOIN meta_data.Job_data  jm ON tm.JobID = jm.JobID WHERE  jm.jobname = 'C2P'   and table_type='fact';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "metadata_info",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "C_2_P_files_load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "start_time",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a3230@mits.ac.in/azure-source-landing-curated-process-load-data",
								"baseParameters": {
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"process_mode": "start_time",
									"jobID": {
										"value": "@string(item().jobID)",
										"type": "Expression"
									},
									"File_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "notebook_linked_service",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "process_layer",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "start_time",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a3230@mits.ac.in/Transformation_logic",
								"baseParameters": {
									"process_path": {
										"value": "@item().processed_Path",
										"type": "Expression"
									},
									"Mode": {
										"value": "@item().Mode",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "notebook_linked_service",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_time",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "process_layer",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a3230@mits.ac.in/azure-source-landing-curated-process-load-data",
								"baseParameters": {
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"process_mode": "end_time",
									"status": {
										"value": "@{activity('process_layer').Status}",
										"type": "Expression"
									},
									"jobID": {
										"value": "@string(item().jobID)",
										"type": "Expression"
									},
									"File_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "notebook_linked_service",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-12T05:19:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}