factory/pipeline/P2S.json
{
	"name": "P2S",
	"properties": {
		"activities": [
			{
				"name": "path_info",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT tm.*\nFROM meta_data.table_meta tm\nJOIN meta_data.Job_data  jm ON tm.JobID = jm.JobID WHERE  jm.jobname = 'P2S';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "metadata_info",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "P_2_S_files_load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "path_info",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('path_info').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "P2S",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "start_time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*.*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "P2S_source",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().globalParameters.container_name",
											"type": "Expression"
										},
										"Table_Name": {
											"value": "@item().Table_Names",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "final_destintion",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "start_time",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a3230@mits.ac.in/azure-source-landing-curated-process-load-data",
								"baseParameters": {
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"File_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"jobID": {
										"value": "@string(item().jobID)",
										"type": "Expression"
									},
									"process_mode": "start_time"
								}
							},
							"linkedServiceName": {
								"referenceName": "notebook_linked_service",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_time",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "P2S",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a3230@mits.ac.in/azure-source-landing-curated-process-load-data",
								"baseParameters": {
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"process_mode": "end_time",
									"status": {
										"value": "@{activity('P2S').Status}",
										"type": "Expression"
									},
									"jobID": {
										"value": "@string(item().jobID)",
										"type": "Expression"
									},
									"File_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"start_time": "@activity('start_time').output.runOutput.st_res"
								}
							},
							"linkedServiceName": {
								"referenceName": "notebook_linked_service",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-12T05:59:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}